body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow: auto;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(206, 227, 230, 0.5);
  color: black;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 1.7rem;
  font-weight: bold;
}

.resume-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resume-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.resume-button:active {
  background-color: #004494;
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 100px;
  overflow: hidden;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.profile-card, .card {
  background-color: rgba(172, 213, 230, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.profile-card, .card {
  width: 100%;
  height: 350px;
  flex-shrink: 1;
}

.about-me-card {
  grid-column: span 2;
}

.about-me-card p {
  font-size: 1.2rem;
  margin: 5px 0;
  line-height: 1.2;
  padding: 20px 20px 0px 20px;
}

.about-me-card .education {
  margin-top: 5px;
}

.about-me-card .education h3 {
  margin-bottom: 5px;
}

.about-me-card .education p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;
}

.project-card {
  grid-column: span 2;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 300px;
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.project-icon {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-icon:nth-child(4) img {
  object-fit: contain;
}

.work-experience-card {
  grid-row: span 2;
  height: 730px;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
}

.experience-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Hide overflow initially */
  height: 100px; /* Initial height */
  z-index: 1;
}

.experience-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 40%; /* Expand to full height */
  z-index: 10; /* Bring to front */
  position: relative;
}

.experience-box h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #333;
}

.experience-box p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.experience-box .description {
  display: none;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.experience-box:hover .description {
  display: block;
}

.profile-card .profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
  margin-top: 20px;
}

.profile-card h2, .card h2 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: black;
}

.profile-card h3, .profile-card h4, .card h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 1.2rem;
  color: black;
}

.profile-card h4 {
  text-align: center;
}

.card-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
}

.skills-card, .contact-card {
  grid-column: span 1;
}

.skills-card {
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;
}

.skills-card:hover {
  height: 130%;
  overflow: visible;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  column-count: 2;
}

.skills-list li {
  width: 50%;
  padding: 5px 0;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
  gap: 20px;
  align-items: center;
}

.contact-box {
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 50px;
}

.contact-box a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.contact-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-box img.contact-icon {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .card, .profile-card {
    width: 90%;
    height: auto;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .project-icon {
    width: 100px;
    height: 100px;
  }

  .contact-boxes {
    flex-direction: column;
  }

  .contact-box {
    margin: 10px 0;
    width: 90%;
  }
}
